@import "bootstrap";
@import "font-awesome";


.booyah-box{
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body{
	background: image_url('halftone-yellow.png');
	font-family: 'Roboto Mono', monospace;
}

.navbar{
	background: image_url('prism.png');
	box-shadow: 0 8px 6px -6px black;
}

.navbar-inverse .navbar-brand{
	color: #E5DD44;
	font-family: 'josefin_sansregular', sans-serif;
	font-size: 25px;
	
}


.digg_pagination{
	text-align: center;
}


.invalid-feedback{
	color: #ff3333;
	background-color: #ffeeee;
	border-radius: 3px;
	padding: 2px 8px 2px 8px;
}
